.box {
  border: 1px solid $lightgrey-1;
  box-shadow: $box-shadow;
  border-radius: 14px;
  padding: 40px 30px;
  background: $white;
  & + & {
    margin-top: 15px;
  }
  &_main {
    @extend .box;
    padding: 40px 70px 30px;
  }
}
