.box {
  padding: 40px 30px;

  width: 100%;

  background: $white;
  background: $white;
  border: 1px solid $lightgrey-1;
  border-radius: 14px;
  box-shadow: $box-shadow;
  @include b('tablet') {
    padding: 25px;
  }
  @include b('mobile') {
    padding: 20px;
  }

  & + & {
    margin-top: 15px;
    @include b('mobile') {
      margin-top: 10px;
    }
  }

  &_main {
    @extend .box;
    border-color: $accent-neutral;
    padding: 40px 70px 30px;
    @include b('tablet') {
      padding: 30px;
    }
    @include b('mobile') {
      padding: 20px 10px;
    }
  }
  &_modal {
    @extend .box;
    padding: 40px;
    @include b('mobile') {
      padding: 20px;
    }
  }
  &_toast {
    @extend .box;
    border-color: $accent-neutral;
    padding: 19px 42px 19px 19px;
  }
}
