.Toastify {
  &__toast {
    margin-left: auto;
    padding: 0;

    max-width: fit-content;

    background: transparent;
    box-shadow: none;

    @media only screen and (max-width: 480px) {
      margin-bottom: 1rem;
    }

    &-container {
      @media only screen and (max-width: 480px) {
        left: initial;
        right: 0;
        width: var(--toastify-toast-width);
        margin-bottom: 1rem;
      }

      @include b(mobile) {
        width: 100%;
      }
    }

    &-body {
      max-width: max-content;
    }
  }
}
