@import 'styles/mixins/main';

$bg-radial-gradient: radial-gradient(32.57% 95.93% at 0% 100%, #fff 0%, #edf1ff 100%);

.preview {
  margin-bottom: -140px;
  padding: 115px 0 180px;

  background: url(../../assets/img/bg-1.svg), $bg-radial-gradient;
  background-repeat: no-repeat;
  background-position: 100% 0;

  @include b('mobile') {
    margin-bottom: -190px;
    padding: 160px 0 200px;
  }
}

.title {
  margin: 0 auto;

  display: block;

  max-width: 600px;

  font-weight: bold;
  text-align: center;

  @include b('mobile') {
    max-width: 350px;
  }
}
