@import 'styles/vars/colors';

.menuItem {
  padding: 10px !important;

  cursor: pointer;

  &::after {
    display: none;
  }
}

.menuItemHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  text-transform: uppercase;

  color: $secondary;
}

.menuItemContent {
  padding: 2px 30px 2px 10px;

  display: flex;
  align-items: center;
  // padding: 20px;
  text-transform: uppercase;

  color: $secondary;
  gap: 10px;
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 8px;

  color: $grey-3;
}

.dropdown {
  top: -14px;

  overflow: hidden;

  background-color: $white;
  border: none;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(112, 112, 112, 0.1);
}
