$white: white;
$black: #000;

$primary: #3a3b3d;
$secondary: #4f535a;
$accent-neutral: #4a70f8;

$blue-1: #3375bb;
$blue-2: #5679f8;
$blue-3: #a0b4fb;

$lightgrey-1: #dadada;
$lightgrey-2: #f3f3f3;
$lightgrey-3: #ccc;
$lightgrey-4: #99a0ad;

$grey-1: #4f535a;
$grey-2: #393c42;
$grey-3: #67686c;
