$white: white;
$black: #000000;

$primary: #3A3B3D;
$secondary: #4F535A;
$accent-neutral: #4A70F8;

$blue-1: #3375BB;
$blue-2: #5679F8;
$blue-3: #A0B4FB;

$lightgrey-1: #DADADA;
$lightgrey-2: #F3F3F3;
$lightgrey-3: #CCCCCC;
$lightgrey-4: #99A0AD;

$grey-1: #4F535A;
$grey-2: #393C42;
