h1,
.h1 {
  font-size: 46px;
  line-height: 64px;
  @include b('mobile') {
    font-size: 24px;
    line-height: 34px;
  }
}

h2,
.h2 {
  font-size: 20px;
  line-height: 24px;
}

h3,
.h3 {
  font-size: 16px;
  line-height: 20px;
}

.text {
  &_bold {
    font-weight: bold;
  }
  &_blue {
    color: $accent-neutral;
  }
  &_sm {
    font-size: 13px;
    line-height: 16px;
  }
  &_md {
    font-size: 14px;
    line-height: 20px;
  }
}
