@import 'styles/mixins/main';

.container {
  @include flexbox(flex-start, space-between);
  gap: 0 15px;
  @include b('mobile') {
    gap: 0;
    @include flexbox(center, flex-start, column-reverse);
  }
}

.box {
  width: 100%;

  &_mini {
    max-width: 340px;
    @include b('mobile') {
      max-width: 100%;
    }
  }

  &_big {
    max-width: 640px;
    @include b('mobile') {
      margin-bottom: 10px;
    }
  }
}
