@import 'styles/vars/colors';
@import 'styles/mixins/main';

.binput {
  @include flexbox(center, space-between);
  padding: 16px 16px 16px 20px;
  border: 1px solid $accent-neutral;
  min-height: 88px;

  box-shadow: 0px 4px 25px rgba(112, 112, 112, 0.1);
  border-radius: 14px;
  & + & {
    margin-top: 10px;
  }
}
.input,
input {
  width: 100%;
  border: none;
  font-size: 24px;
  line-height: 29px;
  color: $accent-neutral;
  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
  &:read-only {
    cursor: default;
  }
  &::placeholder {
    color: $lightgrey-4;
  }
}
.content {
  width: 100%;
}
