@import './plugins/normalize';
@import './plugins/reset';
@import './fonts';
@import './mixins/main';
@import './variables';
@import './typography';

* {
  box-sizing: border-box;
  font: {
    family: $default-font, sans-serif;
  }
}

html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  padding: 0;

  width: 100%;
  min-width: 320px;
  height: 100%;

  font: {
    family: $default-font, sans-serif;
  }
}

.app {
  @include flexbox(flex-start, flex-start, column);
}

.content {
  flex-grow: 1;

  width: 100%;
  padding-bottom: 50px;
}

.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;

  max-width: 1040px;
  @include b('mobile') {
    padding-right: 10px;
    padding-left: 10px;
  }
}

a {
  text-decoration: none;

  cursor: pointer;
}

// Third Party
.rc-dropdown {
  & > * {
    font: {
      family: $default-font, sans-serif;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@import './components/index';
