@import 'styles/vars/colors';

.progress {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 11px;

  background: rgba($lightgrey-3, 0.5);
  border-radius: 12px;

  &_thumb {
    width: 0%;
    height: 100%;

    background: $accent-neutral;

    &__disabled {
      background: $lightgrey-3;
    }
  }
}

.sectors {
  position: absolute;
  top: 0;

  display: grid;

  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
}

.sector {
  & + & {
    border-left: 2px solid $white;
  }
}
