@import 'styles/vars/colors';

.progress {
  width: 100%;
  height: 11px;
  border-radius: 12px;
  background: rgba($lightgrey-3, 0.5);
  overflow: hidden;
  position: relative;
  &_thumb {
    height: 100%;
    width: 50%;
    background: $accent-neutral;
  }
}
.sectors {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  top: 0;
}
.sector {
  & + & {
    border-left: 2px solid #fff;
  }
}
