.modal {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 600px;
  overflow: hidden;
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: #00000073;
  }
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
  }
  &-close {
    position: absolute;
    width: 40px;
    cursor: pointer;
    border: none;
    background: transparent;
    height: 40px;
    padding: 0;
    top: 0;
    right: 0;
  }
}
