@import 'styles/mixins/main';

.stoast {
  @include flexbox(center, flex-start);
}

.text {
  margin-left: 14px;
  overflow-wrap: break-word;
  white-space: break-spaces;
  min-width: fit-content;
}

.img {
  width: 24px;
}
