@import 'styles/mixins/main';

.stoast {
  @include flexbox(center, flex-start);
}

.text {
  margin-left: 14px;
  overflow-wrap: break-word;
  white-space: break-spaces;

  @include b(mobile) {
    max-width: 220px;
  }
}

.img {
  width: 24px;
}
