@import 'styles/vars/colors';
@import 'styles/mixins/main';

.balance {
  background: $lightgrey-5;
  padding: 12px 20px;
  border-radius: 14px;
  margin-bottom: 20px;
  @include flexbox(center, space-between);
  @include b('mobile') {
    margin-bottom: 10px;
  }
}
.btn {
  margin: 30px auto 0;
  display: block;
}
