@import 'styles/vars/colors';
@import 'styles/mixins/main';

.currency {
  @include flexbox(center, center);
  cursor: default;
  padding: 12px;

  border-radius: 14px;
}

.img {
  @include flexbox(center, center);
  margin-right: 6px;

  width: 32px;
  height: 32px;

  background: $white;
  border-radius: 12px;
}

.gray {
  background: $lightgrey-6;
}

.blue {
  background: #4a70f8;
}
