@import 'styles/mixins/main';
@import 'styles/variables';

.header {
  @include flexbox(initial, center);
  position: fixed;
  z-index: 1;

  width: 100%;

  transition: background-color 0.2s ease-out;

  @include b(tablet) {
    background-color: $white;
  }

  &-scroll {
    background-color: $white;
    box-shadow: $box-shadow;
  }
}

.container {
  height: $header-height;
  @include flexbox(center, space-between);

  @include b(tablet) {
    position: sticky;

    padding: 0 10px;
  }
}

.leftBlock {
  @include flexbox(center, space-between);

  @include b(tablet) {
    width: 100%;
  }
}

.rightBlock {
  @include b(tablet) {
    display: none;
  }
}

.backButton {
  margin-right: 22px;
}
