@import 'styles/mixins/main.scss';

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.head {
  @include flexbox(center, flex-start);
}

.steps {
  margin-right: 13px;
}

.status {
  margin: 20px auto;

  width: 120px;
  height: 120px;

  border-radius: 50%;
  box-shadow: 0 27px 83px rgba(36, 36, 37, 0.03), 0 8.13971px 25.0221px rgba(36, 36, 37, 0.0195477),
    0 3.38082px 10.3929px rgba(36, 36, 37, 0.015), 0 1.22278px 3.7589px rgba(36, 36, 37, 0.0104523);
  @include flexbox(center, center);

  &_box {
    @include flexbox(center, flex-start, column);
  }

  &_text {
    margin-top: 13px;

    text-transform: capitalize;
  }

  &_pending {
    animation: rotating 2s linear infinite;
  }
}

.subtitle {
  margin-top: 10px;
}

.btn {
  margin: 20px auto 0;

  display: block;
}
